* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #344a72;
}

a {
  text-decoration: none;
}

#container {
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
}

.form-wrap {
  background-color: white;
  padding: 20px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  /* 
      Each label, input is wrapped in .form-group
    */
}

.form-wrap .form-group label {
  display: block;
}

.form-wrap .form-group input {
  /* 
      Inputs should reach accross the .form-wrap 100% and have some padding
    */
}

.form-wrap button {
  /* 
      Button should wrap accross 100% and display as block
      Background color for button is #49c1a2
    */
}

.form-wrap button:hover {
  /* 
      Hover background color for button is #37a08e
    */
}

.form-wrap .bottom-text {
  /* 
      Bottom text is smaller
    */
}

footer {
  /* 
    Should be centered
   */
}

footer a {
  /* 
      Footer link color is #49c1a2
    */
}
