body {
  font-family: Arial, Helvetica, sans-serif;
  background: grey;
  color: white;
  text-align: center;
  padding-top: 100px;
}

/* For smartphones */
@media (max-width: 500px) {
  body {
    background: red;
  }
}

/* For tablets */
@media (min-width: 501px) and (max-width: 768px) {
  body {
    background: pink;
  }
  #widescreen {
    background: orange;
  }
}

/* Normal */
@media (min-width: 769px) and (max-width: 1200px) {
  body {
    background: yellow;
  }
}

/* Widescreen */
@media (min-width: 1201px) {
  body {
    background: green;
  }
}
